head {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Pasifico", serif;
  color: #222222;
}
body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inconsolata", serif;
  color: #222222;
  background:#ffffff url("img/hero-bg.jpg") no-repeat 50% 0;
}
h1{
  font-size: 20px;
  line-height: normal;
  font-family: "Impact", serif;
  color: #4B0082
}
p{
  font-size: 20px;
  line-height: normal;
  font-family: "AMATIC SC", serif;
}
a{
  font-size: 20px;
  line-height: normal;
  font-family: "AMATIC SC", serif;
}
time{
  font-size: 20px;
  line-height: normal;
  font-family: "AMATIC SC", serif;  
}
nav{


}
footer{
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inconsolata", serif;
  color: #222222;
}